{% extends 'hotmine/Base.html' %}
{% load static %}

{% block content %}
<section class="partners">
    <h1 id="about">Executive Partners</h1>
    <marquee direction="right" scrollamount="15">
        <img src="{% static 'hotmine/images/c1.png' %}" width="100px" class="m-4" alt="Partner 1">
        <img src="{% static 'hotmine/images/c2.png' %}" width="100px " class="m-4" alt="Partner 2">
        <img src="{% static 'hotmine/images/c3.png' %}" width="100px" class="m-4" alt="Partner 3">
        <img src="{% static 'hotmine/images/c4.png' %}" width="100px" class="m-4" alt="Partner 4">
        <img src="{% static 'hotmine/images/c5.png' %}" width="100px" class="m-4" alt="Partner 5">
        <img src="{% static 'hotmine/images/c6.png' %}" width="100px" class="m-4" alt="Partner 6">
        <img src="{% static 'hotmine/images/c8.png' %}" width="100px" class="m-4" alt="Partner 7">
        <img src="{% static 'hotmine/images/c9.png' %}" width="100px" class="m-4" alt="partner 9">
        <img src="{% static 'hotmine/images/c11.png' %}" width="100px" class="m-4" alt="partner 11">
    </marquee>
</section>
<section class="About">
    <div class="description">
        <img src="{% static 'hotmine/images/04.png' %}" alt="About Hotmine">
    </div>
    <div class="content">
        <h3>ABOUT US</h3>
        <h1>What is Hotmine?</h1>
        <p> Hotmine is a fully certified and licensed company.Established in 2015, as a fully functional and trusted
            currency trading/investment company, verified by alot of users. Our
            options are made to meet the needs and requirements of all traders.

        </p>
        <div>
            <a href="/signup">Join Us</a>
        </div>
    </div>
</section>
<section class="grid-section">
    <div>
        <img src="{% static 'hotmine/images/1.c6f1af30fa61.svg' %}" alt="">
        <h2><span>680</span>k+</h2>
        <p>Active Users</p>
    </div>
    <div>
        <img src="{% static 'hotmine/images/3.b93ee16a80ad.svg' %}" alt="">
        <h2><span>989</span>M+</h2>
        <p>Paid Profits</p>
    </div>
    <div>
        <img src="{% static 'hotmine/images/2.6b6de0095bdb.svg' %}" alt="">
        <h2><span>10</span></h2>
        <p>Awards</p>
    </div>
    <div>
        <img src="{% static 'hotmine/images/4.5b964d61011b.svg' %}" alt="">
        <h2>$<span>13</span>M+</h2>
        <p>Monthly Average</p>
    </div>
    <div>
        <img src="{% static 'hotmine/images/5.b63e90f01f7c.svg' %}" alt="">
        <h2><span>193</span></h2>
        <p>Supported Countries</p>
    </div>
</section>
<section class="New_To_Forex" id="New_to_forex">
    <div class="content">
        <h3>NEW TO FOREX?</h3>
        <h1>WHAT IS FOREX</h1>
        <p>
            The foreign exchange market is a global decentralized or over-the-counter market for the trading of
            currencies. This market determines foreign exchange rates for every currency. It includes all aspects of
            buying, selling and exchanging currencies at current or determined prices.
        </p>
        <h1>WHAT IS CRYPTOCURRENCY</h1>
        <p>
            Crypto Currency is a digital currency, created and held electronically. It is an internet-based medium of
            exchange which uses cryptographic functions to conduct financial transactions. They are not printed, like
            other currencies – they are produced by people, and increasingly businesses, running computers all around
            the world, using software that solves mathematical problems.
        </p>
    </div>
    <div class="description">
        <img src="{% static 'hotmine/images/01.png' %}" alt="About Hotmine">
    </div>
</section>
<section id="service" class="d-flex flex-column align-items-center text-center p-4">
    <h1 class="text-white  fw-bold">Trade Top Cryptos (CFD)</h1>
    <p class="text-white">
        Cryptocurrencies available on Hotmine.
    </p>
</section>
<section class="responsive-coin-display d-flex p-5 justify-content-around align-items-center flex-wrap">
    <gecko-coin-ticker-widget locale="en" class="gecko" style="width: 25%;" dark-mode="true"
        initial-currency="usd"></gecko-coin-ticker-widget>
    <gecko-coin-ticker-widget locale="en" class="gecko" style="width: 25%;" dark-mode="true" coin-id="ethereum"
        initial-currency="usd"></gecko-coin-ticker-widget>
    <gecko-coin-ticker-widget locale="en" class="gecko" style="width: 25%;" dark-mode="true" coin-id="bitcoin-cash"
        initial-currency="usd"></gecko-coin-ticker-widget>
</section>
<section class="d-flex flex-column align-items-center text-center p-4">
    <h1 class="text-white  fw-bold">WHY TRADE WITH Hotmine</h1>
    <p class="color    w-75 mt-4">
        You do not need to have any previous trading experience to get started, Our experts are ready to guide you
        through the process. The interface is remarkably user friendly. We have worked hard to ensure processes are fast
        and intuitive with our in-depth training materials to speed up your learning process.
    </p>
</section>
<section class="phoneview">
    <div class="content">
        <section class="directions">
            <div>
                <h4>CUSTOMIZABLE INTERFACE</h4>
                <p>
                    Customize the platform to make it
                    fit better to your needs- from chart
                    type to color theme.
                </p>

            </div>
            <div>
                <i class="bi bi-pc-display-horizontal"></i>
            </div>
        </section>
        <section class="directions">
            <div>
                <h4>EASY WITHDRAWAL</h4>
                <p>
                    We also boast a suite of order types to help traders in making withdrawals
                </p>

            </div>
            <div>
                <i class="bi bi-credit-card-fill"></i>
            </div>
        </section>
        <section class="directions">
            <div>
                <h4>SUPPORT 24/7</h4>
                <p>
                    Our friendly support team is always on hand to help answer any question you have.
                </p>

            </div>
            <div>
                <i class="bi bi-clock" style="font-weight: bold;"></i>
            </div>
        </section>
    </div>
    <div class="description">
        <img src="{% static 'hotmine/images/06.png' %}" alt="">
    </div>
    <div class="content">
        <section class="directions reverse">
            <div>
                <h4>AWARD-WINNING PLATFORM</h4>
                <p>
                    Award-winning software recognized and praised by the most respected experts of the industry.
                </p>

            </div>
            <div>
                <i class="bi bi-sunset-fill"></i>
            </div>
        </section>
        <section class="directions reverse">
            <div>
                <h4>AFFILIATE PROGRAM</h4>
                <p>
                    Earn bonus points when you refer someone to Hotmine.
                </p>

            </div>
            <div>
                <i class="bi bi-gift-fill"></i>
            </div>
        </section>
        <section class="directions reverse">
            <div>
                <h4>SECURITY</h4>
                <p>
                    Protection against DDoS attacks, full data encryption .
                </p>

            </div>
            <div>
                <i class="bi bi-lock-fill"></i>
            </div>
        </section>
    </div>
</section>
<section id="howitwork" class="d-flex flex-column align-items-center text-center p-4">
    <h1 class="text-white  fw-bold">How it Works</h1>
    <p class="text-white">
        Three easy way to start
    </p>
</section>
<section class="starting">
    <div>
        <h4>Create account</h4>
        <p>Register an account to build an investment portfolio.</p>
        <a href="/signup">Join us</a>
    </div>
    <div>
        <h4>Fund your account</h4>
        <p>Deposit cryptocurrencies to fund your account.</p>
    </div>
    <div>
        <h4>Investment</h4>
        <p>Invest and withdraw to an external wallet, instantly.</p>
    </div>
</section>
<section class="d-flex flex-column align-items-center text-center p-4">
    <h1 class="text-white  fw-bold">investment Packages</h1>

</section>
<section class="starting difference">
    <div>
        <h4>Crypto Mining</h4>
        <p>✓ Minimum deposit $10</p>
        <p>✓ Maximum deposit $1000</p>
        <p>✓ Daily earnings 0.5%</p>
        <p>✓ For 365 days</p>
        <p>✓ Deposit return Yes</p>

    </div>
    <div>
        <h4>US Treasury Bond</h4>
        <p>✓ Minimum deposit $1000</p>
        <p>✓ Maximum deposit $5000</p>
        <p>✓ Daily earnings 1%
        </p>
        <p>✓ For 180 days</p>
        <p>✓ Deposit return Yes</p>
    </div>
    <div>
        <h4>Play to earn Crypto Games</h4>
        <p>✓ Minimum deposit $5000</p>
        <p>✓ Maximum deposit $15000</p>
        <p>✓ Daily earnings 1.5%</p>
        <p>✓ For 1800 days</p>
        <p>✓ Deposit return Yes</p>
    </div>
</section>
<section class="starting difference">
    <div>
        <h4>NFTs</h4>
        <p>✓ Minimum deposit $50000</p>
        <p>✓ Maximum deposit $100000</p>
        <p>✓ Daily earnings 2%</p>
        <p>✓ For 100 days</p>
        <p>✓ Deposit return Yes</p>

    </div>
    <div>
        <h4>EUR/JPY</h4>
        <p>✓ Minimum deposit $5500</p>
        <p>✓ Maximum deposit $100000</p>
        <p>✓ Daily earnings 1.3%
        </p>
        <p>✓ For 180 days</p>
        <p>✓ Deposit return Yes</p>
    </div>
    <div>
        <h4>Meme Coins</h4>
        <p>✓ Minimum deposit $1000000</p>
        <p>✓ Maximum deposit $5000000</p>
        <p>✓ Daily earnings 80%</p>
        <p>✓ For 7 days</p>
        <p>✓ Deposit return Yes</p>
    </div>
</section>

<section class="d-flex flex-column align-items-center text-center p-4">
    <h1 class="text-white  fw-bold">A Timeline of Major Crypto Price</h1>
    <gecko-coin-list-widget locale="en" dark-mode="true" outlined="true" coin-ids="ethereum,bitcoin-cash,bitcoin"
        initial-currency="usd" style=" margin-top:20px; width: 100%;"></gecko-coin-list-widget>
</section>
<section class="p-4">
    <h1 class="text-white text-center my-4 fw-lighter">RECENT DEPOSIT AND WITHDRAWAL</h1>
    <div class="responsive-wallet d-flex justify-content-center align-items-center" style="user-select: none;">
        <div class="latestwithdraws w-45 m-5">
            <div class="latest-withdraws depocolor">
                <h1 class="fs-3 "> <span class="fw-bold">+</span> Latest Deposits</h1>
            </div>
            <div class="bar"></div>
            <marquee behavior="scroll" direction="up" style="width: 100%;">
                <table class="  text-white" style="background: black !important;  text-align: center; width: 100%;">
                    <thead>
                        <tr style="border-bottom: 1px solid white; height:8vh; padding-left:10px;
                        padding-right:10px;">
                            <td>Status</td>
                            <td>Amount(USD)</td>
                            <td style="text-align: right;">
                                <p style="margin-right: 10px;">Wallet</p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border-bottom: 1px solid white;">
                            <td button type="button" class="btn btn-success      m-3">Confirmed</button>
                            </td>
                            <td class="m-3">5000</td>
                            <td class="m-3">LZz3eYqJZz3eYqJZz4eYqJZz3eYqJZz3eYqJ</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td><button type="button" class="btn btn-warning   m-3"> <i
                                        class="fa fa-exclamation-triangle"></i>Pending</button>
                            </td>
                            <td>$200</td>
                            <td>0x32Be343B94f860124dC4fEeBD38C102D88</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-success m-3">Confirmed</button>
                            </td>
                            <td>$2000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-success m-3">Confirmed</button>
                            </td>
                            <td>$50000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-success m-3">Confirmed</button>
                            </td>
                            <td>$43900</td>
                            <td>1Adm1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-success m-3">Confirmed</button>
                            </td>
                            <td>$2000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-success m-3">Confirmed</button>
                            </td>
                            <td>$6000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-warning m-3"><i class="fa
                                    fa-exclamation-triangle"></i>Pending</button>
                            </td>
                            <td>$13000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td button type="button" class="btn btn-success      m-3">Confirmed</button>
                            </td>
                            <td class="m-3">2000</td>
                            <td class="m-3">LZz3eYqJZz3eYqJZz4eYqJZz3eYqJZz3eYqJ</td>
                        </tr>
                        <tr>
                            <td button type="button" class="btn btn-success      m-3">Confirmed</button>
                            </td>
                            <td class="m-3">500</td>
                            <td class="m-3">LZz3eYqJZz3eYqJZz4eYqJZz3eYqJZz3eYqJ</td>
                        </tr>
                    </tbody>
                </table>
            </marquee>
        </div>
        <div class="latestwithdraws w-45 m-5">
            <div class="latest-withdraws">
                <h1 class="fs-3"> <span class="fw-bold">-</span> Latest Withdraws</h1>
            </div>
            <div class="bar"></div>
            <marquee behavior="scroll" direction="down">


                <table class="  text-white" style="background: black !important;  text-align: center;">
                    <thead>
                        <tr style="border-bottom: 1px solid white; height:8vh; padding-left:10px;
                        padding-right:10px;">
                            <td>Status</td>
                            <td>Amount(USD)</td>
                            <td style="text-align: right;">
                                <p style="margin-right: 10px;">Wallet</p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border-bottom: 1px solid white;">
                            <td button type="button" class="btn btn-success      m-3">Confirmed</button>
                            </td>
                            <td class="m-3">5000</td>
                            <td class="m-3">LZz3eYqJZz3eYqJZz4eYqJZz3eYqJZz3eYqJ</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td><button type="button" class="btn btn-warning   m-3"> <i
                                        class="fa fa-exclamation-triangle"></i>Pending</button>
                            </td>
                            <td>$200</td>
                            <td>0x32Be343B94f860124dC4fEeBD38C102D88</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-success m-3">Confirmed</button>
                            </td>
                            <td>$2000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-warning m-3"><i class="fa
                                    fa-exclamation-triangle"></i>Pending</button>
                            </td>
                            <td>$15000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-warning m-3"><i class="fa
                                    fa-exclamation-triangle"></i>Pending</button>
                            </td>
                            <td>$43000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-warning m-3"><i class="fa
                                    fa-exclamation-triangle"></i>Pending</button>
                            </td>
                            <td>$8000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-success m-3">Confirmed</button>
                            </td>
                            <td>$8000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td>
                                <button type="button" class="btn btn-warning m-3"><i class="fa
                                    fa-exclamation-triangle"></i>Pending</button>
                            </td>
                            <td>$13000</td>
                            <td>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid white;">
                            <td button type="button" class="btn btn-success      m-3">Confirmed</button>
                            </td>
                            <td class="m-3">2000</td>
                            <td class="m-3">LZz3eYqJZz3eYqJZz4eYqJZz3eYqJZz3eYqJ</td>
                        </tr>
                        <tr>
                            <td button type="button" class="btn btn-success      m-3">Confirmed</button>
                            </td>
                            <td class="m-3">500</td>
                            <td class="m-3">LZz3eYqJZz3eYqJZz4eYqJZz3eYqJZz3eYqJ</td>
                        </tr>
                    </tbody>
                </table>
            </marquee>
        </div>
    </div>
</section>
<section class="New_To_Forex" style="background: transparent !important;">
    <div class="content">
        <h3>Refer & Earn</h3>
        <h1>Affiliate Programs</h1>
        <p>
            Our affiliate program allows you to gain 5% of every investor you refer using the email address on your
            account. This bonus is programmed to reflect instantly on your dashboard the moment such deposit is made.
        </p>
        <a href="/signup" class="refer">REFER NOW</a>
    </div>
    <div class="description">
        <img src="{% static 'hotmine/images/08.png' %}" alt="About Hotmine">
    </div>
</section>
<section class="onboard">
    <div>
        <H2>Register</H2>
        <a href="/signup">Join the new era of Cryptocurrency Investment</a>
    </div>
    <div>
        <h2>Sign In</h2>
        <a href="/login">Access the Cryptocurrency experience you deserve</a>
    </div>
</section>
<footer>
    <section class="footer-grid" id="contact">
        <div>
            <img class="logo" src="{% static 'hotmine/images/miney.jpg' %}" alt="Hotmine Logo">
            <p>
                Hotmine is a firm dealing and investing in high growth capital market and delivering sustainable profit.
            </p>
        </div>
        <div>
            <h2>Menu</h2>
            <section class="border-menu"></section>
            <section class="section">
                <li class="mx-3"><a href="" id="home">Home</a></li>
                <li class="mx-3"><a href="#about">About
                        Us</a></li>
                <li class="mx-3"><a href="#service" id="services">Our
                        Services</a></li>
                <li class="mx-3"><a href="#New_to_forex" id="academy">New To Forex</a>
                </li>
                <li class="mx-3"><a href="#howitwork" id="howitworks">How
                        it Works</a></li>


                <li class="mx-3"><a href="#contact">Contact
                        Us</a></li>
            </section>
        </div>
        <div>
            <h2>Contact Hotmine</h2>
            <section class="border-menu"></section>
            <h3>Mail</h3>
            <a href="mailto:hotmine.org.uk@gmail.com" class="mail">support@hotmine.org.uk</a>

            <h3>Address</h3>
            <p class="poveride">69 Aberdeen Avenue, Cambridge,<br> England, CB2 8DL.</p>

        </div>
        <div>

            <form action="">
                {% csrf_token %}
                <h2>Request a Call Back</h2>
                <section class="border-menu"></section>
                <section class="holder">
                    <input type="text" required placeholder="Enter Name">
                </section>
                <section class="holder">
                    <input type="email" required placeholder="Email">
                </section>
                <section class="holder">
                    <input type="text" required placeholder="Subject">
                </section>
                <section class="holder">
                    <textarea name="" id="" placeholder="message"></textarea>
                </section>
                <section>
                    <button type="submit">send</button>
                </section>
            </form>
        </div>
    </section>
    <p style="color: white; background:black;padding:30px; text-align:center;">© Copyright 2018 Hotmine. All rights
        reserved.
    </p>
</footer>

{% block js_files %}
<script src="https://widgets.coingecko.com/gecko-coin-ticker-widget.js"></script>
<script src="https://widgets.coingecko.com/gecko-coin-list-widget.js"></script>
<script>window.$zoho = window.$zoho || {}; $zoho.salesiq = $zoho.salesiq || { ready: function () { } }</script>
<script id="zsiqscript"
    src="https://salesiq.zohopublic.com/widget?wc=siq2bea00912d1b1bf53c77d126c6e4e78f69675c420b65348a018865c3bf81620e"
    defer></script>

{% endblock %}


{% endblock %}