{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>
        {% block title %}
        Login | Hotmine - The Better Way to Trade and Invest Online
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'hotmine/images/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'hotmine/bootstrap-icons/bootstrap-icons.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'hotmine/login.css' %}">
    <link rel="stylesheet" href="{% static 'hotmine/bootstrap.css' %}">
    {% block css_files %}
    {% endblock %}
</head>

<body>
    <section>
        <a href="{% url 'home' %}">
            <img class="logo" src="{% static 'hotmine/images/miney.jpg' %}" alt="Hotmine Logo">
        </a>
    </section>
    <div id="google_translate_element"></div>

    <!-- Display Messages -->


    <form method="post" class="login-form">
        {% csrf_token %}
        <h2 class="text-center text-black">User Login</h2>

        <!-- Display form errors -->
        <!-- {% if form.non_field_errors %}
        <div class="alert alert-primary my-4">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %} -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary  d-flex align-items-center justify-content-between" role="alert">
            {{ message }}
            <button type="button" class="bi bi-x"
                style="background: transparent !important; width:10px; height:10px; border:none; margin:0px !important; display:flex;align-items:center;justify-content:center; font-size:20px !important; "
                data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}

        <div class>
            <label for="{{ form.username.id_for_label }}" class="my-2 fw-bold">Email Address</label><br>
            {{ form.username }}
            {% if form.username.errors %}
            <div class="text-danger">
                {% for error in form.username.errors %}
                <small>{{ error }}</small>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="my-2 fw-bold">Password</label>
            {{ form.password }}
            {% if form.password.errors %}
            <div class="text-danger">
                {% for error in form.password.errors %}
                <small>{{ error }}</small>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <button type="submit" class="my-3">Login</button>

        <div class="form-footer">
            <p class="text-center">Forgot Your Password <a href="">Reset</a></p>
            <p class="text-center"> Dont Have An Account Yet? <a href="{% url 'signup' %}">Sign Up</a>
            </p>
            <p class="text-center my-2">© Copyright 2018 Hotmine. All rights
                reserved.
            </p>
        </div>
    </form>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: 'en',
                    includedLanguages: 'en,es,fr,de,it,pt,ru,ja,ko,zh-CN,zh-TW,ar,hi,sw,nl,sv,da,no,fi,pl,cs,sk,hu,ro,bg,hr,sl,et,lv,lt,el,tr,he,th,vi,ms,id,tl,fa,ur,bn,ta,te,ml,kn,gu,pa,mr,ne,si,my,km,lo,ka,hy,az,kk,ky,uz,tg,mn,is,mt,cy,ga,eu,ca,gl,af,zu,xh,st,tn,ss,ve,ts,nr,yo,ig,ha,am,ti,om,so,mg,ny,sn,rw,lg,ak,tw,bm,ee,ff,kg,ln,lu,sg,wo,zu,bem,loz,lun,nso,zu',
                },
                'google_translate_element'
            );
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>